[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/cob/Desktop/steam.desktop]
row=5
col=0

[1256d3d1-af97-48b3-9203-8658eae43fdf]
row=1
col=0

[2021-10-10-18-33-39-00]
row=0
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/cob]
row=4
col=0

